<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="css/videojuegos.css" rel="stylesheet">

        <title>Tienda PS</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Tienda PS
                    <img th:src="@{/img/logo.png}" alt="" width="30" height="24">
                </a>
                <form th:action="@{/buscar}" class="d-flex">
                    <input autofocus="autofocus" name="q" class="form-control me-2" type="search" th:placeholder="${param.q}" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>

        </nav>

        <div class="container mt-4 vj-destacados">
            <div class="row">
                <div class="col-md-12">
                    <h1>Nuevo Videojuego</h1>
                    <form method="POST" th:action="@{/videojuegos/guardar}" th:object="${videojuego}">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Nombre del videojuego"> 
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <textarea class="form-control" th:field="*{descripcion}" id="descricion" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="imagenUrl">URL de la Imagen</label>
                            <input type="text" th:field="*{imagenUrl}" class="form-control" id="imagenUrl" placeholder="URL de la imagen"> 
                        </div>
                         <div class="form-group">
                             <label for="distribuidor">Distribuidor</label>
                             <select class="form-control" id="distribuidor" th:field="*{distribuidor}">
                                 <option th:each="distribuidor : ${distribuidores}" th:value="${distribuidor.id}" th:text="${distribuidor.nombre}"></option>
                             </select> 
                        </div>
                        
                         <div class="form-group">
                             <label for="desarrollador">Desarrollador</label>
                             <select class="form-control" id="desarrollador" th:field="*{desarrollador}">
                                 <option th:each="desarrollador : ${desarrolladores}" th:value="${desarrollador.id}" th:text="${desarrollador.nombre}"></option>
                             </select> 
                        </div>
                        
                        <button type="submit" class="btn btn-primary">guardar</button>
                    </form>
                </div>   
            </div><!-- fin div class container -->
        </div><!-- fin div class row -->




        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
        -->
    </body>
</html>